<template>
  <b-container
    id="f-page"
    tag="main"
  >
    <b-row>
      <h1 class="col-12 text-center">
        <span v-html="$t('cgu.title')"></span>
      </h1>
      <b-col
        class="mx-auto"
        lg="9"
      >
        <div v-html="$t('cgu.intro')"></div>

        <p><b v-html="$t('cgu.short.sympa.text')"></b></p>
        <ul class="list-group mb-4">
          <li
            v-for="index in Object.keys($t('cgu.short.sympa.list'))"
            :key="index"
            class="list-group-item list-group-item-success fb-v2 fc-v8"
            v-html="$t(`cgu.short.sympa.list[${index}]`)"
          ></li>
        </ul>

        <p v-html="$t('cgu.short.terms.text')"></p>
        <ul class="list-group mb-4">
          <li
            v-for="index in Object.keys($t('cgu.short.terms.list'))"
            :key="index"
            class="list-group-item list-group-item-warning fb-o2 fc-o8"
            v-html="$t(`cgu.short.terms.list[${index}]`)"
          ></li>
        </ul>

        <div v-html="$t('cgu.full')"></div>

        <div class="signature">
          <hr />
          <p v-html="$t('cgu.footer')"></p>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#cgu {
  b {
    &.violet, &.orange {
      color: inherit !important;
    }
  }

  #f-page h1 {
    margin-bottom: 0;
  }
}
</style>
