<template>
  <b-container
    id="f-page"
    class="px-4"
    tag="main"
  >
    <b-row>
      <h1 class="col-lg-9 mx-auto text-center">
        <span v-html="$t('trademarks.title')"></span>
      </h1>

      <b-col
        id="toc"
        cols="4"
        class="alert-warning p-4 rounded m-4 mx-auto"
      >
        <div v-html="$t('trademarks.toc')"></div>
      </b-col>

      <b-col
        id="code"
        class="mx-auto"
        lg="9"
      >
        <div v-html="$t('trademarks.code.md')"></div>

        <div class="signature">
          <hr />
          <p v-html="$t('trademarks.code.footer')"></p>
        </div>
      </b-col>
    </b-row>
    <b-row class="fb-g3 mx-n4">
      <b-col
        id="policy"
        class="mx-auto"
        lg="9"
      >
        <div v-html="$t('trademarks.policy.md')"></div>

        <div class="signature">
          <hr />
          <p v-html="$t('trademarks.policy.footer')"></p>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#trademarks #toc {
  h2 {
    color: #1f1f1f;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    margin: 0.5rem 0 0.5rem;
    padding: 0;
    text-align: center;
  }

  ul {
    list-style: numeric;
    font-size: 1rem;
    margin-bottom: 0;

    a {
      background: none;
    }
  }
}
</style>
