<template>
  <section id="h-actions">
    <b-container class="my-5 px-md-0">
      <h2 v-html="$t('home.actions.title')"></h2>
      <div class="row m-0">
        <b-row class="my-5 mx-0">
          <b-col
            v-for="key in ['empowerment', 'educ-pop', 'archipelago']"
            :id="`h-${key}`"
            :key="key"
            lg="4"
            class="mb-4"
          >
            <div
              class="p-4 h-100 d-flex flex-column"
            >
              <div
                class="my-2"
                v-html="$t(`home.actions.${key}`)"
              ></div>
              <p class="mt-auto mb-2 text-right">
                <b-button
                  :href="`${$t('baseurl')}${key}`"
                  variant="outline-warning"
                >
                  <span v-html="$t('home.actions.btn')"></span>
                  <i class="fas fa-chevron-right"></i>
                </b-button>
              </p>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-actions {
  background: var(--f-g4);

  h2 {
    margin: -7rem auto 4rem 0;
  }

  h3 {
    color: var(--f-g10);
    font-family: 'Tovari Sans', sans-serif;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    min-height: 80px;
  }
}
#h-empowerment {
  background: var(--f-g1);
}
#h-educ-pop {
  background: var(--f-g2);
}
#h-archipelago {
  background: var(--f-g3);
}
</style>
