<template>
  <section id="h-clarification">
    <b-container class="my-5 px-md-0">
      <h2 v-html="$t('home.clarification.title')"></h2>
      <b-row
        align-v="center"
        class="pb-5"
      >
        <b-col lg="5">
          <div
            class="mt-4"
            v-html="$t('home.clarification.desc')"
          ></div>
        </b-col>
        <b-col
          lg="7"
        >
          <div class="img-thumbnail p-2">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                allowfullscreen=""
                class="embed-responsive-item"
                frameborder="0"
                sandbox="allow-same-origin allow-scripts allow-popups"
                src="https://video.blast-info.fr/videos/embed/847452e5-d884-4507-9d4b-b090c51f9478"
                title="`Comment se libérer des GAFAM ! Avec Framasoft`"
              ></iframe>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-row class="py-5">
        <b-col lg="8">
          <blockquote>
            <p v-html="$t('home.clarification.quote')"></p>
            <p
              class="m-0 small text-right"
              v-html="$t('home.clarification.blog')"
            ></p>
          </blockquote>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-clarification {
  &::before {
    background:
      var(--f-b2)
      url('../../../public/img/bg-mountains.jpg')
      no-repeat
      80%;
    background-size: cover;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    margin: -7rem auto 4rem 0;
  }

  blockquote {
    font-size: 2rem;
    padding: 2.5rem;
    margin: 0;
    border-radius: .5rem;
    .small {
      font-size: 1.125rem;
    }
  }
}
</style>

