<template>
  <section id="h-knownfor">
    <b-container class="my-5 py-4 px-md-0">
      <h2 v-html="$t('home.known-for.title')"></h2>
      <b-row>
        <b-col
          class="p-0"
        >
          <b-row
            id="h-services"
            class="mb-4 mx-0 pl-0 list-unstyled"
            tag="ul"
          >
            <b-col
              v-for="key in Object.keys($t('dio'))
                .filter(k => /(pad|date|sepia|forms|mzf)/.test(k))"
              :key="key"
              class="mb-4"
              cols="12"
              md="6"
              lg="4"
              tag="li"
            >
              <b-card
                class="h-100"
                no-body
              >
                <b-card-body class="h-100 d-flex flex-column">
                  <h3 class="card-title h4">
                    <a
                      :href="$t(`link.${key}`)"
                      rel="nofollow"
                    >
                      <i :class="`${$t(`icon.${key}`)} fa-lg fc-g6 fa-pull-right`"></i>
                      <div class="d-flex align-items-center text-left">
                        <span>
                          <span v-html="$t(`color.${key}`)"></span>
                          <br />
                          <small><s
                            class="badge badge-light"
                            v-html="($t('lang') === 'fr')
                              ? $t(`dio.${key}.gafam[0]`)
                                .replace('Facebook Event', 'Événements Facebook')
                              : $t(`dio.${key}.gafam[0]`)"
                          ></s></small>
                        </span>
                      </div>
                    </a>
                  </h3>
                  <b-card-text v-html="$t(`dio.${key}.lDesc`)" />
                  <b-card-text class="mt-auto text-right">
                    <a
                      class="btn btn-sm btn-outline-warning d-inline-flex align-items-center"
                      :href="$t(`link.${key}`)"
                    >
                      <span
                        v-html="$t('home.known-for.try')"
                      ></span>
                      <span
                        class="ml-1"
                        v-html="$t(`txt.${key}`)"
                      ></span>
                      <i class="fas fa-chevron-right ml-1"></i>
                    </a>
                  </b-card-text>
                </b-card-body>
              </b-card>
            </b-col>

            <b-col
              id="h-dio"
              class="mb-4"
              cols="12"
              md="6"
              lg="4"
              tag="li"
            >
              <b-card
                class="h-100"
                no-body
              >
                <b-card-body
                  class="h-100 d-flex flex-column align-items-center justify-content-center"
                >
                  <b-row
                    align-h="center"
                    class="align-self-end"
                  >
                    <b-col cols="10">
                      <img
                        alt=""
                        class="img-fluid w-100"
                        :src="`${$t('baseurl')}img/dio.png`"
                      />
                      <a
                        class="btn btn-sm btn-outline-warning"
                        :href="$t('link.dio')"
                      >
                        <span v-html="$t('home.known-for.dio')"></span>
                        <i class="fas fa-chevron-right"></i>
                      </a>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col
          lg="6"
          xl="7"
        >
          <b-row class="mt-4 mb-5">
            <b-col
              id="h-service-blog"
              cols="12"
            >
              <!-- French service-blog -->
              <b-card
                v-if="/^fr/.test($t('lang'))"
                no-body
              >
                <b-row no-gutters>
                  <b-col cols="12">
                    <b-card-img
                      alt=""
                      class="rounded-0"
                      :src="$t('home.known-for.actu.fr.img')"
                    />
                  </b-col>
                  <b-col cols="12">
                    <b-card-body :title="$t('home.known-for.actu.fr.title')">
                      <b-card-text v-html="$t('home.known-for.actu.fr.desc')" />
                      <p class="m-0 text-right">
                        <b-button
                          :href="$t('home.known-for.actu.fr.link')"
                          variant="outline-warning"
                        >
                          <span v-html="$t('home.known-for.btn')"></span>
                          <i class="fas fa-chevron-right"></i>
                        </b-button>
                      </p>
                    </b-card-body>
                  </b-col>
                </b-row>
              </b-card>
              <!-- English service-blog -->
              <b-card
                v-else
                no-body
              >
                <b-row no-gutters>
                  <b-col cols="12">
                    <b-card-img
                      alt=""
                      class="rounded-0"
                      :src="$t('home.known-for.actu.en.img')"
                    />
                  </b-col>
                  <b-col cols="12">
                    <b-card-body :title="$t('home.known-for.actu.en.title')">
                      <b-card-text v-html="$t('home.known-for.actu.en.desc')" />
                      <p class="m-0 text-right">
                        <b-button
                          :href="$t('home.known-for.actu.en.link')"
                          variant="outline-warning"
                        >
                          <span v-html="$t('home.known-for.btn')"></span>
                          <i class="fas fa-chevron-right"></i>
                        </b-button>
                      </p>
                    </b-card-body>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-services {
  .vert, .rouge {
    color: var(--f-g7) !important;
  }

  .violet, .fc-d9, .orange, h3 span > span {
    color: var(--f-g7) !important;
    font-weight: normal !important;
  }

  .violet + .orange {
    font-weight: bold !important;
  }
}

#h-knownfor {
  position: relative;

  &::before {
    background:
      var(--f-f8)
      url('../../../public/img/bg-rocket.jpg')
      no-repeat
      bottom left;
    background-size: cover;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (min-width: 992px) {
      background-position: bottom right;
    }
  }

  h2 {
    background: var(--f-o6);
    border-radius: .5rem;
    color: #fff;
    font-family: 'Tovari Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    line-height: 2.5rem;
    margin: -8rem auto 7rem 0;
    padding: 1.25rem 1.75rem .5rem;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-2deg);
    width: fit-content;
  }

  .card {
    background: var(--f-g1);
    border: none;
    border-radius: .5rem;
    padding: 0;

    .card-body {
      padding: 1rem;
    }

    .btn-sm {
      background-image: none;
    }
  }

  h4 {
    color: var(--f-g9);
  }
}

#h-dio .card {
  background: var(--f-g3);
}

#h-service-blog {
  > div {
    background: var(--f-g3);
  }

  img {
    max-height: 300px;
    object-fit: cover;
    padding: 1rem;
  }
}
</style>
