<template>
  <section id="h-prez">
    <b-container class="my-5 px-md-0">
      <h2 v-html="$t('home.prez.title')"></h2>
      <b-row class="pt-4">
        <b-col
          v-for="key in ['who', 'what', 'why']"
          :key="key"
          lg="4"
        >
          <div
            class="mb-4"
            v-html="$t(`home.prez.${key}`)
              .replace(/<li>/g, `<li><i class='fas fa-circle-check mr-2'></i>`)"
          ></div>
        </b-col>
      </b-row>

      <h3
        class="mt-4"
        v-html="$t('home.prez.title2')"
      ></h3>
      <b-row class="pb-4">
        <b-col
          v-for="n in 3"
          :key="n"
          lg="4"
        >
          <div
            class="mb-lg-4"
            v-html="$t(`home.prez.whom[${n-1}]`)
              .replace(/^/, `<i class='fas fa-circle-user mr-2'></i>`)"
          ></div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-prez {
  color: var(--f-g9);
  line-height: 1.75rem;

  h2 {
    margin: -7rem auto 3rem 0;
  }

  h3 {
    color: var(--f-g10);
    font-family: 'Tovari Sans', sans-serif;
    font-size: 3rem;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .fas { color: var(--f-g10); }
}
</style>
